.About_setion {
  height: 1041px;
  border: 1px solid #00000000;
  /* backgrorund-color: #313131; */
  color: #ffe600;
}

.About {
  margin: 0px auto auto 50px;
}

.About_heading {
  width: 1100px;
  margin: auto;
  text-align: center;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.About_box {
  width: 1100px;
  margin: auto;
  height: 650px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  color: white;
  transition: ease-out 0.8s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transform: translateX(-50%);
  opacity: 0;
}

@keyframes slide {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.About_box.inner {
  width: 1100px;
}

.About_img {
  margin: 100px 150px auto 200px;
  width: 405px;
  height: 400px;
}

.About_img img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}
.About_intro {
  width: 465px;
  height: 100%;
}

/* About 헤드 */

.About_head {
  margin-top: 10px;
  padding: 2rem;
}

.About_head h2 {
  width: 600px;
  font-size: 1.1rem;
  margin: auto auto 30px auto;
  padding: 1rem;
  line-height: 1.6;
  font-weight: bold;
}

.CAREER {
  color: #ffe600;
}

.LICENSE H3 {
  width: 600px;
  font-size: 1.1rem;
  padding: 1.5rem 0rem;
  font-weight: bold;
  color: #ffe600;
}

.span_container {
  width: 405px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  align-items: center;
}

.span_container span {
  background-color: rgb(180, 26, 26);
  padding: 0 2rem;
  height: 30px;
  line-height: 2;
  border-radius: 10px;
  cursor: pointer;
}
.span_container span:hover {
  background-color: #ffe600;
  color: black;
}

/* About 텍스트 */
.About_text {
  text-align: left;
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  width: 500px;
  padding: 0rem;
  margin-left: 50px;
}
/* About 왼쪽 */
.About_left ul {
  font-size: 1.5rem;
  width: 100%;
  font-weight: bold;
  line-height: 2;
}
/* About 오른쪽 */
.About_right ul {
  font-size: 1.5rem;
  line-height: 2;
  width: 100%;
}

.About_right ul li {
  width: 100%;
}

.number {
  animation: blink;
  -webkit-animation: blink 3s linear infinite;
}

@keyframes blink {
  /*0% 부터 100% 까지*/
  0% {
    color: #f6f9fa;
  }
  100% {
    color: #ffe600;
  }
}

@media screen and (max-width: 767px) {
  .About {
    margin: auto;
  }
  .About_setion {
    height: 100%;
    color: #ffe600;
    width: 100%;
  }

  .About_heading {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    font-size: 3rem;
  }

  .About_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-top: 0px;
    margin-left: 0px;
  }
  .About_img {
    width: 100%;
    height: 100%;
    margin: 10vh auto;
  }
  .About_img img {
    width: 50%;
    height: 100%;
    text-align: center;
    margin-left: 14vh;
  }

  .About_intro {
    width: 100%;
    height: 100%;
  }

  /* About 헤드 */

  .About_head {
    width: 100%;
    margin-top: -80px;
    text-align: center;
    padding: 0;
  }

  .About_head h2 {
    font-size: 0.8rem;
    margin: auto;
    padding: 0rem;
    text-align: center;
    width: 100%;
    line-height: 1.5;
  }

  .About_text {
    width: 100%;
  }
  /* span */
  .span_container {
    width: 100%;
    margin: auto;
  }

  .LICENSE h3 {
    font-size: 0.8rem;
    width: 100%;
  }

  /* About 텍스트 */
  .About_text {
    display: flex;
    justify-content: space-around;
    line-height: 2;
    margin-left: 0;
    margin-top: 10%;
  }
  /* About 왼쪽 */
  .About_left ul {
    font-size: 1.3rem;
    padding: 0rem;
    flex: 2;
  }
  /* About 오른쪽 */
  .About_right ul {
    font-size: 1.3rem;
    width: 80%;
    padding: 0rem;
  }
  .number {
    -webkit-animation: blink 0s linear infinite;
  }
}
