/* 전체영역 */
.wrap {
  width: 100%;
  display: flex;
}

.Intro_setion {
  height: 1041px;
  /* background-color: #313131; */
}

/* content 전체영역 */
.wrap_content {
  width: 80%;
  position: absolute;
  right: 0;
  top: 0;
}

/* 인트로 시작 */
.inner {
  width: 1250px;
  height: auto;
}

.Intro {
  display: flex;
  margin: 50px auto auto 0px;
  position: relative;
}

.Intro_heading {
  width: 1100px;
  margin: auto;
  text-align: center;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #ffe600;
}
/* 
.Intro::before {
  content: "";
  background-image: url(../img/Introduce.png);
  cursor: pointer;
  width: 163px;
  height: 38px;
  z-index: 999;
  position: absolute;
  top: -50px;
  left: 0;
} */

.Intro_main {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100px;
}

/* 박스 */
.small_Box {
  width: 950px;
  height: 300px;
  transform: rotate(0.104deg);
  position: absolute;
  top: 200px;
  left: 220px;
  border-radius: 30px;
  border: none;
  background: #0000009c;
  /* box-shadow: 5px 4px 20px 0px #7d7d7dd5; */
  z-index: 9;
}

/* 달 */
.Big_Box {
  position: absolute;
  width: 500px;
  height: 500px;
  right: 200px;
  top: 0px;
  transform: rotate(0.104deg);
  border: 1px solid #a0a0a000;
  border-radius: 100%;
  fill: rgba(123, 123, 123, 0.68);
  background-color: #7b7b7b0e;
  stroke-width: 5px;
  z-index: 8;

  animation: moon 4s infinite alternate;
}

.Big_Box img {
  width: 700px;
  position: absolute;
  left: 100px;
  top: 20px;
}

/* 달 애니메이션 */
@keyframes moon {
  0% {
    margin-top: -20px;
  }
  100% {
    margin-top: 10px;
  }
}

/* 인트로 텍스트 창 */

.intro_text {
  position: absolute;
  z-index: 99;
  top: 320px;
  left: 20%;
  font-size: 3.5rem;
  color: white;
}

.intro_text em {
  color: #ffe600;
  font-weight: 800;
}

.intro_text02 {
  z-index: 999;
  position: absolute;
  color: white;
  left: 30%;
  bottom: -450px;
}

.intro_text02 p {
  font-size: 1.5rem;
}
/* 인트로 헤딩 */
/* 인트로 왼쪽 */
/* 인트로 오른쪽 */

@media screen and (max-width: 767px) {
  .wrap {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .Intro_setion {
    height: 50vh;
  }

  /* content 전체영역 */
  .wrap_content {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* 인트로 시작 */
  .inner {
    width: 100%;
    height: auto;
  }

  .Intro {
    display: flex;
    margin: 5vh auto;
    position: relative;
  }


  .Intro_heading h1{
    font-size: 41px;
    margin-top: 8%;
  }

  .small_Box {
    width: 100%;
    height: 10vh;
    transform: rotate(0.104deg);
    position: absolute;
    top: 8vh;
    left: 0%;
    border-radius: 10px;
    z-index: 9;
  }
  .Big_Box {
    position: absolute;
    width: 20vh;
    height: 20vh;
    top: 5vh;
    right: 20%;
    transform: rotate(0.104deg);
    border-radius: 100%;
    stroke-width: 5px;
  }

  .Big_Box img {
    width: 30vh;
    position: absolute;
    left: 0%;
    top: -20%;
  }

  /* 인트로 텍스트 창 */

  .intro_text {
    position: absolute;
    z-index: 99;
    top: 20vh;
    left: 8%;
    font-size: 1.5rem;
    color: white;
  }

  .intro_text em {
    color: #ffe600;
    font-weight: 800;
    font-weight: 1rem;
  }

  .intro_text02 {
    z-index: 99;
    position: absolute;
    color: white;
    left: 15%;
    top: 27vh;
    height: 100%;
  }

  .intro_text02 p {
    font-size: 0.5rem;
    z-index: -1;
  }
}
