::-webkit-scrollbar{width: 5px;}
::-webkit-scrollbar-track{background-color: #ffe600;}
::-webkit-scrollbar-thumb{background-color: #102049f1; border-radius: 80px;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    width: 10px; 
}